@import url('http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400');

.navigation {
  font-family: 'Roboto', sans-serif;
  width: 80%;
  margin: 30px auto;
  background: #fff;
  padding: 10px 0;
  box-shadow: 0px 5px 0px #dedede;
}

.navigation ul {
  list-style: none;
  text-align: center;
}
.navigation ul li {
  display: inline-block;
}
.navigation ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
.navigation ul li a,
.navigation ul li a:after,
.navigation ul li a:before {
  transition: all .5s;
}
.navigation ul li a:hover {
  color: #555;
}


nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #333;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #023f1c;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

nav.navigation ul li a {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}
nav.navigation ul li a:hover {
  color: #fff;
}
nav.navigation ul li a:before,
nav.navigation ul li a:after {
  position: absolute;
  width: 0px;
  height: 100%;
  top: 0;
  bottom: 0;
  background: rgb(140, 182, 236);
  transition: all .5s;
  margin: auto;
  content: '.';
  color: transparent;
  z-index: -1;
  opacity: 0.75;
}
nav.navigation ul li a:before {
  left: 0;
}
nav.navigation ul li a:after {
  right: 0;
}

nav.navigation ul li a:hover:after,
nav.navigation ul li a:hover:before {
  width: 100%;
}

/* .nav_menu-item:hover .nav_submenu {
  display: block;
}
.nav_submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 220px;
  background-color:  #d2d1d3;
}
.nav_submenu-item:hover {
  background: rgba(0, 0, 0, 0.1);
} */