
.nickname > input , .makeID > input , .makePassword > input, .checkPassword > input{
    padding: 20px;
    font-size: 10px;
    width: 30%;    
    border: 2px solid white;
    outline: none;
    border-radius: 0px;
    line-height: 1rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}

.correct {
    color: red;
}

.join {
    margin-top: 2rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    width: 30%;
    background-color: #12b886;
    user-select: none;
    outline: 0;
    border: 0;
}

.join:active, .btn:hover{
    outline: 1;
    color: black;
    background-color: #11d198;
    box-shadow: 0.1px #666;
    transform: translateY(0.1px);
}
