
.subnavigation{
  font-family:arial;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 100px;
  width:80%;
}

.subline{
  width: 100%;
  border-bottom:0px; 
  text-align:left; 
  margin-left: 0px;
}

.sub-buttons{
  margin-bottom:0px;
}

.subbtn{
  display: inline-block;
}

button{
  margin-right:15px;
  font-size:14px;
  background:transparent;
  border:none;
  outline:none;
  padding:10px 20px ;
  cursor:pointer;
  color:#06344e;
  transition:all ease-in-out .2s;
  border-bottom:2px solid transparent;
  
}
.active{
  border-bottom:2px solid #06344e;
  color:black;
}