  .home_title{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-weight: 300;
    color: white;
    font-size: 35px;
    padding: 50px;
    letter-spacing: 5px;
    text-shadow: -1px -1px 0px rgb(210, 242, 252),
    3px 3px 0px rgb(118, 119, 119),
    6px 6px 0px  rgb(28, 29, 29);
  }