@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
*{
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
    background-color:white;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    height: 100%;   
}

header{
    height: 500px;
    border-bottom: 2px #f1ebe5 solid;
}

h3 {
    margin-left: 100px;
    margin-top: 20px;
    color:#0758c2;
    font-size: 50px;
    letter-spacing: 5px;
    text-shadow: -1px -1px 0px rgb(210, 242, 252),
    3px 3px 0px rgb(210, 242, 252),
    6px 6px 0px  rgb(210, 242, 252);
}

.menu{
    width:250px;
    height: 500px;
    color: #5D5F63;
    margin-top: 25px;
    margin-left: 500px;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.nav {
  width: 500px;
  margin: 0 auto;
  margin-top: 25px;
  background:rgb(210, 242, 252);
  color:#0758c2;
}
.nav a {
  display: block;
  padding: 0 16px;
  line-height: inherit;
  cursor: pointer;
}
.nav_menu {
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav_menu-item {
  display: inline-block;
  position: relative;
}
.nav_menu-item:hover {
  background-color: #d2d1d3;
}
.nav_menu-item:hover .nav_submenu {
  display: block;
}
.nav_submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 220px;
  background-color:  #d2d1d3;
}
.nav_submenu-item:hover {
  background: rgba(0, 0, 0, 0.1);
}