.status {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  td {      
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
  }
  td {
    background-color: #e3f2fd;
  }